body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

h1.home {
    font-size: 16px;
    font-weight:bold;
    font-family:cursive;
}


div.show_guests{
    font-size: 12px
}

div.error{
    color: red
}

div.login{
    font-family: Arial;
    font-size: 30;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%)
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

